body {
    margin-top: -100px;
    margin-left: 0px;
    background-color: #1F0249;
}

#backButton {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 20px;
    background-color: #ffffff;
    color: #1F0249;
    border: none;
    padding: 3px 6px;
    cursor: pointer;
}

.container {
    div {
        margin-bottom: -50px;
    }

    .group1, .group2, .group3, .group4 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .group4 {
        margin-bottom: 100px;
    }
}